<%-#index view from passes controller%>

<div class="container main_container">
  <div class="gym_results_logo_main_container">
    <div class="gym_results_logo_container">
      <div class="">
        <span id="gym_results_logo">one day gym pass</span>
      </div>
        <div class="gyms_near_field">
          <br><span id="gym_near_address">Gyms near: <%= @gyms_near_address %></span></br>
          <a href="<%= root_path %>" class="btn btn-primary">Change Address</a>
        </div>
    </div>
   </div> 
  <div class="header row">
      <p class="mine col-md-2 gym_results_header">Gym Name</p>
      <p class="mine2 col-md-3 gym_results_header">What Customers Say</p>
      <p class="mine3 col-md-1 gym_results_header">Distance</p>
  </div>
  <table>  
  <% @businesses.each do |business| %>
    <tr class="gym_results_details_row">
    <td class="gym_results_image_column"><img src="<%= business["image_url"] %>"/></td>
    <td class="gym_results_name_column"><span id="gym_results_business_name_style"><%= link_to business["name"], pass_path(business) %></span>
      <% if business["location"]["address"][0] !=  nil %>
        <br><%= business["location"]["address"][0].gsub("["," ") %></td>
      <% else %>
        <br>No Address Specified</br>
      <% end %>
    <td class="gym_results_customers_column"><%= business["snippet_text"] %>(<a href="<%= business["url"] %>" target="_blank">More</a>)</td>
    <td class="gym_results_distance_column"><%= business["distance"].meters.to.miles.round(2) %> mi</td> 
    </tr>
  <% end %>
  </table>
  <br><a href="<%= root_path %>">search again</a> 

  </div>
 </div> 

<%# @items.each do |item| %>
  <%# item_id = item['id'] %>
  <%#= link_to item['name'], pass_path(item) %>
<%# end %>