<%-#gym search results page index view from passes controller%>

<link href='http://fonts.googleapis.com/css?family=Cabin+Sketch' rel='stylesheet' type='text/css'>



<div class="container main_container">
  <div class="gym_results_logo_main_container">
    <div class="gym_results_logo_container">
      <div class="">
        <div class="gyms_near_field">
          <br><span id="gym_near_address">Gyms Near: <%= @gyms_near_address %></span></br>
          <a href="<%= root_path %>" class="btn btn-primary change_address">Change Address</a>
        </div>
        <span id="gym_results_logo">one day gym pass</span>
        <div class="block_1"> </div> <hr class="results_logo_divider" />
      </div>
    </div>
   </div> 
  <div class="header row">
      <p class="mine col-md-2 gym_results_header"><%= link_to 'Gym Name', sort_by_path('name') %></p>
      <p class="mine2 col-md-3 gym_results_header">What Customers Say</p>
      <p class="mine3 col-md-1 gym_results_header"><%= link_to 'Distance', sort_by_path('distance') %></p>
  </div>
  <table>  
  <% @gyms.each do |gym| %>
    <tr class="gym_results_details_row">
    <td class="gym_results_image_column"><img src="<%= gym.image_url %>"/></td>
    <td class="gym_results_name_column"><span id="gym_results_business_name_style"><%= link_to gym.name, pass_path(gym) %></span>
      <% if gym.address !=  nil %>
        <br><%= gym.address.gsub("["," ") %></td>
      <% else %>
        <br>No Address Specified</br>
      <% end %>
    <td class="gym_results_customers_column"><%= gym.snippet_text %>(<a href="<%= gym.url %>" target="_blank">More</a>)</td>
    <td class="gym_results_distance_column"><%= gym.distance %> </td> 
    </tr>
  <% end %>
  </table>
  <br><a href="<%= root_path %>"></a> 

  </div>
 </div> 

<%# @items.each do |item| %>
  <%# item_id = item['id'] %>
  <%#= link_to item['name'], pass_path(item) %>
<%# end %>