<h1><%= @gym_name %></h1>
<form action="passes/create" method="POST">
<input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
<button type="submit">Get a day pass</button>
</form>
<ul class="venue details">
<li>Phone Number: <%= @phone_number %></li>
<li>Address: <%= @address %>
<%= @cross_street %>
<%= @city %>
<%= @state %>
<%= @postal_code %></li>
<li>Website: <%= @website %></li>
<li>Description: <%= @description %></li>
</ul>

