<!DOCTYPE html>
<html>
<head>
  <title>One Day Gym Pass</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

   <!-- custom sign-in / sign-out button -->

   <% if current_user %>

  Hi, <%= current_user.name %>!

  <form action="/users/sign_out" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <button type="submit gym_search_details_button_out">Sign Out</button>
  </form>

  <% else %>

  <form action="/users/sign_in" method="POST">
    <input type="hidden" name="_method" value="NEW">
    <button type="submit gym_search_details_button_out">Sign In</button>
  </form>
  
  <% end %>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<div class="container">
<%= yield %>
</div>

</body>
</html>
